<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="text-center mb-4">
        <h1>Welcome to Our Platform</h1>
        <p>Choose how you want to log in:</p>
      </div>
      <div class="text-center d-flex justify-content-evenly">
        <button class="btn btn-primary btn-lg mr-4" (click)="loginAsUser()" >Log in as User</button>
        <button class="btn btn-secondary btn-lg" (click)="loginAsSeller()">Log in as Seller</button>
      </div>
    </div>
  </div>
</div>
